/* *{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
hr{
    color: grey;
}
#days {
    background-color: grey;
}
.with {
    display: flex;
    gap: 20px;
}
#btn {
    width:  50px;
    height: 15px;
    background-color: grey;
    color: yellow;

} */
